.part {
    width: 40px;
    height: 40px;
}

.portal {
    width: 40px;
    height: 40px;
}

.portal > * {
    filter: drop-shadow(0 0 5px purple);
}

#how-to {
    user-select: none;
    opacity: 0.5;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

#how-to > div {
    font-size: 18px;
}